.Page {
    text-align: center;
    background-color: #E7E7E7;
  
  }
  
  .Page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    position: relative;
    font-family: "Open Sans", sans-serif;
  }
  
  div.form-container {
    width: 40%;
    position: absolute;
    top: 15%;
    /* height: 70%; */
    background-color: white;
    border-radius: 4px;
    padding: 23px;
    border: 1px solid #bfbfbf;
  }
  
  h2.form-header {
    color: #5B92E5;
    font-size: 130%;
    border-bottom: 4px solid #5B92E5;
    margin: 10px 20px 5px 20px;
  }
  div.form-desc {
      color: #a0a0a0;
      font-size: 60%;
      margin: 10px 20px 5px 20px;
      text-align: left;
  }
  div.form-subtitle {
      color: #5B92E5;
      font-size: 100%;
      text-align: left;
      margin: 10px 20px 5px 20px;
  }
  .checkboxes {
      font-size: 80%;
      text-align: left;
      margin-left: 50px;
  }
  .basic-diagnoses-box {
      background-color: #E7E7E7;
      border-radius: 4px;
      margin: 20px 20px 0 20px;
      padding: 5px 0 10px 0;
  }
  .button-div {
      margin: 20px;
  }
  
  Button.next-button {
    background-color: #5B92E5;
    color: white;
    width: 100%;
    font-weight: normal;
    border-radius: 4px;
}
Button.back-button {
    background-color: #5B92E5;
    color: white;
    width: 48%;
    font-weight: normal;
    border-radius: 4px;

}
.no-text-dec {
    text-decoration: none;
    color: white;
}
.gap {
    display: inline-block;
    width: 4%
}

  
  